<form method="post" action="{{ path('app_pategoria_delete', {'id': pategorium.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pategorium.id) }}">
    <button class="btn">Delete</button>
</form>
