{% block list %}
    <ol>
    {%  for elemento in elementos %}
        <li><a href="http://localhost:8000/{{ tipo }}/{{ elemento.id }}">{{ elemento.nombre }}</a> </li>
    {% endfor %}
    </ol>
{% endblock %}